a {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  transition: all 0.3s;
}
a:hover,
#nav-links-mobile a:hover {
  color: orangered;
}
a.btn {
  border-radius: 5px;
  padding:5px 8px;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.5rem;
}

a.btn-dark {
  background: transparent;
  border: 3px solid #fff;
  padding: 8px;
  border-radius: 8px;
  margin-left: 100px;
}
a.btn-light {
  background: orangered;
  border: 10px solid transparent;
  border-radius: 5px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  a.btn {
    display: inline;
  }
  a.btn-light{
    margin-left: 80px;
  }
  a.btn-dark{
    margin-left: 50px;
  }
}